<div class="container">
  <p>
    <strong>面接日程</strong>
    <br/>
    <%= @interview.interview_date %>
  </p>

  <p>
    <strong>承認状態</strong>
    <br/>
    <%= @interview.approval %>
  </p>

  <br/>
  <%= link_to '面接日程編集', edit_user_interview_path(@user, @interview) %> |
  <%= link_to '戻る', root_path %>
</div>
